
.flatform-container {
  background-image: url("../images/blackboard-copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
  
}

.form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 3%;
  padding-bottom: 3%;
} 

.flatform-title h1 {
  padding-top: 4%;
  font-size: 3.3rem;
  /* text-decoration: underline;
  text-underline-position: under; */
}

.label-container h2 {
  font-size: 2.3rem;
  text-decoration: underline;
  text-underline-position: under;
}

.input-container input {
  background: transparent;
  border: none;
  height: 30%;
  width: 100%;
  text-decoration: none;
}

.input-container input:focus {
outline: none;
}

::placeholder {
color: rgba(250, 250, 250, 0.5);
font-size: 30px;
text-align: center;
font-style: italic;
}


.form-title-2 h2 {
  padding-top: 7%;
  font-size: 2.3rem;
  text-decoration: underline;
  text-underline-position: under;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkboxes {
  font-size: 30px;
  display:flex;
  width: 300px;
  justify-content: flex-start;
  align-items: center;
}

.checkboxes input {
  margin-right: 20px;
}

.form-container button {
  color: white;
  margin: 0 auto;
  background-color: rgb(115, 175, 157);
  text-decoration: none;
  width: 50%;
  height: 10%;
  border: 2px rgb(115, 175, 157);
  font-size: 1.8rem;
  margin-top: 20px;
}

.form-container button:focus {
  outline: none;
}

input[type=checkbox] {
  height: 20px;
  width: 20px;
}