/* how to make this 100%? */
.form {
  background-color: rgba(120, 206, 180, 0.5);
  height: 100%;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.39);
  width: 50%;
  margin-left: 25%
}

.flat-name {
  /* display: flex; */
  width: 75%;
  /* justify-content: center */
}

.button {
  background-color: rgb(190, 0, 127);
  border-color: rgb(190, 0, 127)}


.button:hover {
  background-color: rgb(151, 204, 199);
  border-color: rgb(151, 204, 199)
}

.checkbox-container {
  /* text-align: left */
}

span {
  font-size: 1.2rem;
}