/* how to make this 100%? */
.flatform-container {
  background-image: url("../images/blackboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.form-container {
  display: flex;
  justify-content: center;
  background-color: rgba(229, 235, 236, 0.2);
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 3%;
  border-radius: 2%;
}

.flatform-title {
  padding-top: 4%;
}

.input-container {
  /* border: 1px solid white; */
  width: 100%;
  text-decoration: none;
}