@font-face {
  font-family: chalkfont;
  src: url("../fonts/chalkfont3.otf");
}

* {
  font-family: chalkfont;
  color: aliceblue;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
}

.home-container {
  background-image: url("../images/chalkboard-kitchen.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}

form {
  display: flex;
  flex-direction: row;
}

/* add new div for h1 here, child of header-container? if only I could do css */
.title h1 {
  margin-bottom: 5%;
  font-weight: bold;
  font-size: 1.3em;
}

.subtitle {
  /* font-weight: bold; */
  font-size: .9em;
}

.header-container {
  /* color: rgb(190, 0, 127); */
  font-size: 2.5em;
  /* width: 85%; */
  /* margin-top: 1em; */
  text-align: center;
  margin-bottom: 0.4em;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.home-nav {
  display: flex;
  flex-direction: column;
  width: 37%;
  height: 52%;
  /* background-color: rgba(255, 255, 255, 0.39); */
  margin-left: 13%;
  border-radius: 1%;
  justify-content: center;
}

.home-button {
  display: flex;
  flex-direction: column;
  width: 50%;
  /* background-color: white; */
  padding-top: 1%;
  margin-bottom: 2%;
  text-align: center;
  margin-top: 2%;
}

.home-button-container {
  display: flex;
  align-items: center;
  flex-direction: column;

}


.chalk-border {
  border: 8px solid rgba(255,255,255,.8);
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png") 20;
}



.button-links {
  color: white;
  font-size: 1.5em;
  font-weight: bold
}

/*  but this is for all links so beware the nav */
a:hover {
  color: rgb(120, 206, 180);
  text-decoration: none;
}

.home-button-container:hover {
  /* width: 55%; */
}
