.invite-container {
  background-image: url("../images/blackboard.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

.invite-heading {
  padding: 10% 20% 0 20%;
  text-align: center;
}