.signup-button {
  background-color: rgb(190, 0, 127);
  border-color: rgb(190, 0, 127)
}

.signup-button:hover {
  background-color: rgb(151, 204, 199);
  border-color: rgb(151, 204, 199)
}

.chalkboard-container {
  background-image: url("/images/chalkboard-kitchen.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}


.home-nav {
  
  /* background-color: rgba(255, 255, 255, 0.39); */
  margin-left: 13%;
  border-radius: 1%;
  justify-content: center;
}