.chalkboard-container {
  background-image: url("../images/chalkboard-kitchen.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
}

.signup-form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  margin-left: 0;
  margin-right: 36%;
}

.sign-up-header {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
  text-underline-position: under;
}

.field-container {

  font-size: 2rem;

}

.fields {
  display: flex;
  margin: 0 auto;
  padding-left: 15vw;
  padding-top:  2vh;
}

.fields input {
  width: 55%;
  padding-bottom: 3%;
  padding-top: 1%;
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 3%;
  text-align: left;
  background: transparent;
  text-decoration: none;
  border: none;
  height: 6vh
}

.fields input:focus {
  outline: none;

}

.fields input::placeholder {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.356);
}

.signup-button {
  background-color: transparent;
  width: 37%;
  /* margin: 0 auto; */
  /* text-align: center; */
  color: white;
  font-size: .8em;
  font-weight: bold;
  margin-top: 2.3vh;
  padding-top: 1%;

}

.signup-button:focus {
  outline: none;
}

.signup-button:hover {
  color: rgb(115, 175, 157);
  text-decoration: none;
}

.chalk-border {
  border: 8px solid rgba(255, 255, 255, 0.8);
  border-image: url("https://www.unicefusa.org/sites/default/files/answer-box.png")
    20;
}

.alert {
  background-color: rgba(115, 175, 157);
  display: flex;
  margin-top: 4.2%;
  padding-left: 5vw;
  margin-left: 10vw;
  margin-right: 10vw;
  /* padding-right: 3vw; */
}
